{% include "nav.html" %}

<style>
  table.scroll {
    width: 900px;
    border: 1px #a9c6c9 solid;
  }
  table.scroll thead {
    display: table;
    width: 100%;
    background-color: salmon;
  }
  table.scroll tbody {
    display: block;
    height: 1000px;
    overflow: auto;
    float: left;
    width: 100%;
  }
  table.scroll tbody tr {
    display: table;
    width: 100%;
  }
  table.scroll th,
  td {
    width: 33%;
    padding: 8px;
  }
</style>

<div class="container mt-5">
  <div class="row">
    <div class="col md-12">
      <div class="card border-info">
        <div class="card-header bg-info text-white md-12">
          <center><h3>Performansi</h3></center>
        </div>
        <div class="card-body">
          <h4 class="card-title">Hasil Perhitungan Akurasi</h4>
          <table class="table table-hover table-responsive scroll">
            <thead>
              <tr class="table-primary">
                <td scope="col" width="50%">Citra</td>
                <td scope="col" width="50%">Kelas Aktual</td>
                <td scope="col" width="50%">Prediksi</td>
              </tr>
            </thead>
            <tbody>
              {% for i in gambar %}
              <tr class="text-info">
                <td scope="row">
                  <img
                    src="{{i}}"
                    alt=""
                    style="width: 155px; height: 219px;"
                  />
                </td>
                <td>{{aktual[loop.index-1]}}</td>
                <td>{{prediksi[loop.index-1]}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <br />
          <p>Akurasi = <b> {{(akurasi*100)|round(1, 'floor')}}% </b></p>
          <div class="progress">
            <div
              class="progress-bar bg-info"
              role="progressbar"
              style="width: {{akurasi*100}}%;"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>

          <br />
          <p>Error = <b> {{(100-(akurasi*100))|round(1, 'floor')}}% </b></p>
          <div class="progress">
            <div
              class="progress-bar bg-danger"
              role="progressbar"
              style="width: {{100-(akurasi*100)}}%;"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>

          <br />
          <p>Presisi = <b> {{(presisi*100)|round(1, 'floor')}}% </b></p>
          <div class="progress">
            <div
              class="progress-bar bg-success"
              role="progressbar"
              style="width: {{presisi*100}}%;"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>

          <br />
          <p>Recall = <b> {{(recall*100)|round(1, 'floor')}}% </b></p>
          <div class="progress">
            <div
              class="progress-bar bg-warning"
              role="progressbar"
              style="width: {{recall*100}}%;"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>

          <br />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col md-12"></div>
  </div>
</div>

{% include "bottom.html" %}
