{% include "nav.html" %}

<div class="container mt-5">
  <div class="row">
    <div class="col md-12">
      <div class="card border-success">
        <div class="card-header bg-success text-white md-12">
          <center><h3>Dataset</h3></center>
        </div>
        <div class="card-body">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#satu"
                >latih daun</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#dua">
                latih batang
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tiga">test</a>
            </li>
          </ul>

          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="satu">
              <div class="row p-5">
                <h5>Data latih tendensi Daun</h5>
                <div class="mt-3">
                  {% for i in gambar %}

                  <img
                    src="{{i}}"
                    alt=""
                    style="width: 155px; height: 219px;"
                  />

                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="dua">
              <div class="row p-5">
                <h5>Data latih tendensi Batang</h5>
                <div class="mt-3">
                  {% for i in gambar2 %}

                  <img
                    src="{{i}}"
                    alt=""
                    style="width: 155px; height: 219px;"
                  />

                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tiga">
              <div class="row p-5">
                <h5>Data uji</h5>
                <div class="mt-3">
                  {% for i in gambar3 %}

                  <img
                    src="{{i}}"
                    alt=""
                    style="width: 155px; height: 219px;"
                  />

                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "bottom.html" %}
