<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
      integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
      integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
      integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
      crossorigin="anonymous"
    ></script>
    <title>hasil</title>
    <style>
      .table-scroll {
        position: relative;
        width: 100%;
        z-index: 1;
        margin: auto;
        overflow: auto;
        height: 350px;
      }
      .table-scroll table {
        width: 100%;
        min-width: 1280px;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
      }
      .table-wrap {
        position: relative;
      }
      .table-scroll th,
      .table-scroll td {
        padding: 5px 10px;
        border: 1px solid #000;
        background: #fff;
        vertical-align: top;
      }
      .table-scroll thead th {
        background: #333;
        color: #fff;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
      }
      /* safari and ios need the tfoot itself to be position:sticky also */
      .table-scroll tfoot,
      .table-scroll tfoot th,
      .table-scroll tfoot td {
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        background: #666;
        color: #fff;
        z-index: 4;
      }
      th:first-child {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        z-index: 2;
        background: #ccc;
      }
      thead th:first-child,
      tfoot th:first-child {
        z-index: 5;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">RVM</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
          </li>
          <li>
            <a class="nav-link" href="/akurasi"
              >Lihat Performansi <span class="sr-only"></span
            ></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div>
        <div><h1>1. Citra RGB</h1></div>
        <div><img src="/static/upload/{{filename}}" alt="{{filename}}" width="200" height="200"/></div>
        <div id="table-scroll" class="table-scroll">
          <table id="main-table" class="main-table">
            <thead>
              <tr>
                <th scope="col">(i,j)</th>
                {% for x in range(200) %}
                <th scope="col">{{x+1}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for j in range(200) %}
              <tr>
                <th>{{j+1}}</th>
                {% for i in range(200) %}
                <td>
                  <b>R</b>:{{rgb[j][i][0]}}<br /><b>G</b
                  >:{{rgb[j][i][1]}}<br /><b>B</b>:{{rgb[j][i][2]}}
                </td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <div><h1>2. Citra Grayscale</h1></div>
        <div>
          <img src="/static/grayscale/{{filename}}" alt="{{filename}}" />
        </div>
        <div id="table-scroll" class="table-scroll">
          <table id="main-table" class="main-table">
            <thead>
              <tr>
                <th>(i,j)</th>
                {% for x in range(200) %}
                <th>{{x+1}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for j in range(200) %}
              <tr>
                <th>{{j+1}}</th>
                {% for i in range(200) %}
                <td>{{grayscale[j][i]}}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <div><h1>3. Citra Canny</h1></div>
        <div><img src="/static/canny/{{filename}}" alt="{{filename}}" /></div>
        <div id="table-scroll" class="table-scroll">
          <table id="main-table" class="main-table">
            <thead>
              <tr>
                <th>(i,j)</th>
                {% for x in range(200) %}
                <th>{{x+1}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for j in range(200) %}
              <tr>
                <th>{{j+1}}</th>
                {% for i in range(200) %}
                <td>{{canny[j][i]}}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <div><h1>4. Spatial Moments</h1></div>
        <div><b></b>m<sub>00</sub></b> = {{moments['m00']}}</div>
        <div><b></b>m<sub>01</sub></b> = {{moments['m01']}}</div>
        <div><b></b>m<sub>10</sub></b> = {{moments['m10']}}</div>
      </div>
      <div>
        <div><h1>5. Central Moments</h1></div>
        <div><b></b>mu<sub>20</sub></b> = {{moments['mu20']}}</div>
        <div><b></b>mu<sub>11</sub></b> = {{moments['mu11']}}</div>
        <div><b></b>mu<sub>02</sub></b> = {{moments['mu02']}}</div>
        <div><b></b>mu<sub>30</sub></b> = {{moments['mu30']}}</div>
        <div><b></b>mu<sub>21</sub></b> = {{moments['mu21']}}</div>
        <div><b></b>mu<sub>12</sub></b> = {{moments['mu12']}}</div>
        <div><b></b>mu<sub>03</sub></b> = {{moments['mu03']}}</div>
      </div>
      <div>
        <div><h1>6. Normalized Central Moments</h1></div>
        <div><b></b>nu<sub>20</sub></b> = {{moments['nu20']}}</div>
        <div><b></b>nu<sub>11</sub></b> = {{moments['nu11']}}</div>
        <div><b></b>nu<sub>02</sub></b> = {{moments['nu02']}}</div>
        <div><b></b>nu<sub>30</sub></b> = {{moments['nu30']}}</div>
        <div><b></b>nu<sub>21</sub></b> = {{moments['nu21']}}</div>
        <div><b></b>nu<sub>12</sub></b> = {{moments['nu12']}}</div>
        <div><b></b>nu<sub>03</sub></b> = {{moments['nu03']}}</div>
      </div>
      <div>
        <div><h1>7. Hu Moments</h1></div>
        <div><b></b>Hu<sub>1</sub></b> = {{huMoments[0][0]}}</div>
        <div><b></b>Hu<sub>2</sub></b> = {{huMoments[1][0]}}</div>
        <div><b></b>Hu<sub>3</sub></b> = {{huMoments[2][0]}}</div>
        <div><b></b>Hu<sub>4</sub></b> = {{huMoments[3][0]}}</div>
        <div><b></b>Hu<sub>5</sub></b> = {{huMoments[4][0]}}</div>
        <div><b></b>Hu<sub>6</sub></b> = {{huMoments[5][0]}}</div>
        <div><b></b>Hu<sub>7</sub></b> = {{huMoments[6][0]}}</div>
      </div>
      <div>
        <div><h1>8. Pelatihan RVM</h1></div>
        <div>
          <h2>Parameter :</h2>
          alpha_max : 1 x 10<sup>9</sup><br />
          epsilon : 1 x 10<sup>-8</sup><br />
          initial_alpha : 0.000625<br />
          max_iterasi : 5000<br />
          Toleransi : 0.001
        </div>
        <div>
          <h2>Pengamatan iterasi :</h2>
          <table width="100%">
            <tr>
              <td>Iterasi ke-1:</td>
              <td>Iterasi ke-1151(akhir):</td>
            </tr>
            <tr>
              <td>Vektor Alpha:<br /> 
                [1.77838117e+02 1.30892783e-01 5.65217870e-02 6.90918334e-02<br />
                  8.72555958e-02 1.31003008e-02 9.82985436e-02 1.07700907e+00<br />
                  9.13522369e-02 9.84747770e-02 1.33494467e-01 2.94947582e-02<br />
                  1.97837575e-01 1.82574143e-02 1.30198666e-01 2.82089891e-01<br />
                  2.33280509e-02 2.86687111e-01 1.73596281e-01 8.04702805e-01<br />
                  4.94634359e-01 4.76215783e-01 3.48912835e-01 1.05079241e-01<br />
                  2.42818781e-01 1.61365160e-02 7.59991419e-01 4.90417014e-01<br />
                  8.14223365e-02 1.01318809e-01 1.14944056e-01 2.51735308e-01<br />
                  7.14009566e-02 1.16079962e-01 1.38714992e-01 2.14837838e-01<br />
                  6.12926644e-02 4.03872308e-01 4.03796377e-01 2.03282542e-01<br />
                  3.41856965e-01]</td>
              <td style="vertical-align: top;">Vektor Alpha:<br /> 
                [4.73591311e+00 6.15395322e-01 2.64940008e-01 3.73178347e+00<br />
                  2.83082223e+00 4.31127880e+00 6.52464122e-01 3.67978244e-01<br />
                  6.06602183e-01 3.83788780e+03]</td>
            </tr>
            <tr>
              <td>Vektor bobot(w):<br />  
                [0.36736406 0.45629176 0.35642611 0.90119648 0.2  0.82578948<br />
                  0.89101967 0.39535537 0.26121092 0.83675601 0.78 0.01999048<br />
                  0.6981377  0.1443923  0.42629895 0.75934299 0.02 0.74901284<br />
                  0.20667152 0.54012362 0.30336503 0.59443237 0.75 0.88074193<br />
                  0.35427517 0.63867985 0.74557291 0.55514086 0.88 0.88472962<br />
                  0.25268041 0.33578833 0.89603611 0.76378865 0.50 0.2721536<br />
                  0.35578015 0.70065479 0.34384577 0.85646004 0.43470535]</td>
              <td style="vertical-align: top;">Vektor bobot(w):<br />  
                [0.39988564 0.73171127 0.72886416 0.45096334 0.48119673 0.57087287<br />
                  0.64111329 0.67357705 0.68622572 0.00099592]</td>
            </tr>    
            <tr>
              <td>Vektor Relevance : 40</td>
              <td>Vektor Relevance : 10</td>
            </tr>    
        </table>
        Vektor yang relevan : data ke- 1,4,13,14,17,26,30,31,35,39]
        </div>
      </div>
    </div>
  </body>
</html>
