{% include "nav.html" %}

<div class="container mt-5">
  <div class="row">
    <div class="col md-12">
      <div class="card border-info">
        <div class="card-header bg-info text-white md-12">
          <center><h3>Hasil Pengujian</h3></center>
        </div>
        <div class="card-body">
          <div class="row ml-5">
            <div class="col-md-4">
              <img
                src="static/upload/{{filename}}"
                alt="{{filename}}"
                width="72%"
                style="text-align: center;"
              />
            </div>
            <div class="col-md-8">
              <h4>Karakteristik :</h4>
              <h2>{{hasil}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "bottom.html" %}
