{% include "nav.html" %}

<div class="container mt-5">
  <div class="row">
    <div class="col md-12">
      <div class="card border-info">
        <div class="card-header bg-info text-white md-12">
          <center>
            <h3>
              Pengidentifikasian Karakter Seseorang dengan Pola Gambar Pohon
            </h3>
          </center>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <h5>
                Sistem ini memungkinkan untuk dapat mengklasifikasikan
                kepribadian seseorang berdasarkan gambar pohon.
              </h5>

              <br />
              Dibuat Oleh : Rafli R
            </div>
            <div class="col-md-3">
              <img
                src="static/images/AI.png"
                width="72%"
                style="text-align: center;"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "bottom.html" %}
