{% include "nav.html" %}

<div class="container mt-5">
  <div class="card border-info">
    <div class="col md-12">
      <div class="card border-info">
        <div class="card-header bg-info text-white md-12">
          <center>
            <h3>
              Preprocessing
            </h3>
          </center>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a
                class="nav-link active"
                id="nav-rgb-tab"
                data-toggle="tab"
                href="#nav-rgb"
                role="tab"
                >RGB</a
              >
              <a
                class="nav-link"
                id="nav-gray-tab"
                data-toggle="tab"
                href="#nav-gray"
                role="tab"
                >Grayscaling</a
              >
              <a
                class="nav-link"
                id="nav-canny-tab"
                data-toggle="tab"
                href="#nav-canny"
                role="tab"
                >Canny</a
              >
              <a
                class="nav-link"
                id="nav-biner-tab"
                data-toggle="tab"
                href="#nav-biner"
                role="tab"
                >Binerisasi</a
              >
              <a
                class="nav-link"
                id="nav-fitur-tab"
                data-toggle="tab"
                href="#nav-fitur"
                role="tab"
                >Ekstraksi Fitur</a
              >
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-rgb" role="tabpanel">
              <div class="mt-3 mb-3">
                <img
                  src="/static/dataset/scan/daun/{{filename}}"
                  alt="{{filename}}"
                  style="width: 310px; height: 438px;"
                />
              </div>
              <div id="table-scroll" class="table-scroll">
                <table id="main-table" class="main-table">
                  <thead>
                    <tr>
                      <th scope="col">(i,j)</th>
                      {% for x in range(200) %}
                      <th scope="col">{{x+1}}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for j in range(200) %}
                    <tr>
                      <th>{{j+1}}</th>
                      {% for i in range(200) %}
                      <td>
                        <b>R</b>:{{RGB[j][i][0]}}<br /><b>G</b
                        >:{{RGB[j][i][1]}}<br /><b>B</b>:{{RGB[j][i][2]}}
                      </td>
                      {% endfor %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-gray" role="tabpanel">
              <div class="mt-3 mb-3">
                <img
                  src="/static/grayscale/{{filename}}"
                  alt="{{filename}}"
                  style="width: 310px; height: 438px;"
                />
              </div>
              <div id="table-scroll" class="table-scroll">
                <table id="main-table" class="main-table">
                  <thead>
                    <tr>
                      <th scope="col">(i,j)</th>
                      {% for x in range(200) %}
                      <th scope="col">{{x+1}}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for j in range(200) %}
                    <tr>
                      <th>{{j+1}}</th>
                      {% for i in range(200) %}
                      <td>{{gray[j][i]}}</td>
                      {% endfor %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-canny" role="tabpanel">
              <div class="mt-3 mb-3">
                <img
                  src="/static/canny/{{filename}}"
                  alt="{{filename}}"
                  style="width: 310px; height: 438px;"
                />
              </div>
              <div id="table-scroll" class="table-scroll">
                <table id="main-table" class="main-table">
                  <thead>
                    <tr>
                      <th scope="col">(i,j)</th>
                      {% for x in range(200) %}
                      <th scope="col">{{x+1}}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for j in range(200) %}
                    <tr>
                      <th>{{j+1}}</th>
                      {% for i in range(200) %}
                      <td>{{canny[j][i]}}</td>
                      {% endfor %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-biner" role="tabpanel">
              <div class="mt-3 mb-3">
                <img
                  src="/static/biner/{{filename}}"
                  alt="{{filename}}"
                  style="width: 310px; height: 438px;"
                />
              </div>
              <div id="table-scroll" class="table-scroll">
                <table id="main-table" class="main-table">
                  <thead>
                    <tr>
                      <th scope="col">(i,j)</th>
                      {% for x in range(200) %}
                      <th scope="col">{{x+1}}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for j in range(200) %}
                    <tr>
                      <th>{{j+1}}</th>
                      {% for i in range(200) %}
                      <td>{{biner[j][i]}}</td>
                      {% endfor %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-fitur" role="tabpanel">
              <div class="mt-3 ml-3">
                <h3>Hasil Ektraksi Fitur dengan Hu Moments:</h3>
                <h4 class="ml-3">
                  hu[0] = {{fitur[0][0]|round(4, 'floor')}} <br />
                  hu[1] = {{fitur[0][1]|round(4, 'floor')}} <br />
                  hu[2] = {{fitur[0][2]|round(4, 'floor')}} <br />
                  hu[3] = {{fitur[0][3]|round(4, 'floor')}} <br />
                  hu[4] = {{fitur[0][4]|round(4, 'floor')}} <br />
                  hu[5] = {{fitur[0][5]|round(4, 'floor')}} <br />
                  hu[6] = {{fitur[0][6]|round(4, 'floor')}} <br />
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "bottom.html" %}
